@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About";
}

<section class="what-we-do" style="margin-top:100px">
    <div class="outer-container">
        <div class="content-outer clearfix">
            <!--Content Column-->
            <div class="content-column">
                <div class="lined-title"><h2>About the site.</h2></div>
                <div class="default-text">
                    On 6 February, a magnitude 7.8 earthquake occurred in southern Turkey, Gaziantep Province. Just 9 hours later, a second magnitude 7.6 earthquake followed the first one within the same area in Turkey, Kahramanmaras Province. The quakes hit 10 different cities in Turkey.
                    <br /><br />
                    As of 6 February, more than 14.000 deaths, 62.000 injuries, and at least 1.052 aftershocks have been reported in Turkey.
                    <br /><br />
                    These earthquakes were the most devastating and widest-affecting in Turkey. The earthquakes were the deadliest among Turkey's earthquakes since the 1999 İzmit earthquake. The 2023 Turkey earthquakes are also the deadliest earthquake worldwide since the 2011 Tōhoku earthquake.

                </div>



                <a href="/contact" class="theme-btn btn-style-two">Contact Us <span class="sep-icon"><i class="fa fa-contact"></i></span></a>

            </div>

            <!--Image Column-->
            <div class="image-column wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                <figure class="image-box">
                    <img src="images/main-slider/slide1.jpg" alt="">
                    <div class="overlay">
                        @*  <div class="square-box"></div>
                        <h2>This has to be ended <br>right now</h2>*@
                    </div>
                </figure>
            </div>

        </div>
    </div>
</section>


