@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}
<!--Contact Section-->
<section class="contact-section margin-top-50">
    <div class="auto-container">

        <!--Form Container-->
        <div class="form-container wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="title-text">Contact Info</div>

            <!--Form-->
            <div class="form">
                <form id="contact-form" >
                    <div class="row clearfix">
                        <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="username" value="" placeholder="Name">
                        </div>
                        <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <input type="email" id="email" value="" placeholder="Email">
                        </div>
                        <div class="form-group col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" id="phone" value="" placeholder="Phone">
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <textarea id="message" placeholder="Message.."></textarea>
                        </div>

                        <div class="form-group text-center margin-top-30 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                            <button type="button" id="bnt-contact" class="theme-btn">Send</button>
                        </div>
                    </div>

                </form>
                <div id="contact-result">
                    Thank you. We will back you as soon as possible!.
                </div>
            </div>
        </div>

    </div>
</section>
@section scripts
    {
        <script>
            //Contact Form Validation
            $('#bnt-contact').click( function() {
           
            var name = $("#username").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var message = $("#message").val();
            var message_from = $("#message-from").val();
            $.post("/home/contact", { name: name, company: phone, email: email, message: message, messageFrom: message_from }, function (data) {
                if (data.success) {
                    $("#contact-form").hide();
                    $("#contact-result").removeClass("d-none");

                }
            });
            
           });
          
           
        </script>

}

