@{
    ViewData["Title"] = "Home Page";
}


<!--Main Slider-->
<section class="main-slider">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/5.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="/images/main-slider/slide1.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Transparent layer Right-->
                    <div class="transparent-bg-layer-full"></div>

                    <div class="tp-caption sfb sft tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="0"
                         data-speed="150"
                         data-start="50"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="120"
                         data-endeasing="Power4.easeIn">
                        <h3 class="med-heading">
                            Donate To Support <br>Earthquake Affected Children And Families<br> In Turkey Now</h3>
                    </div>




                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="170"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="120"
                         data-endeasing="Power4.easeIn">
                        <a href="#join" class="theme-btn btn-style-four">Donate</a>
                    </div>

                </li>

                <li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/4.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="~/images/main-slider/slide2.jpg" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <!--Transparent layer Right-->
                    <div class="transparent-bg-layer-full"></div>

                    <div class="tp-caption sfb sft tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="-20"
                         data-speed="1500"
                         data-start="500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h3 class="med-heading">Give Hope To<br /> Earthquake Survivors<br /> In Turkey</h3>
                    </div>




                    <div class="tp-caption sfb sfb tp-resizeme"
                         data-x="center" data-hoffset="0"
                         data-y="center" data-voffset="150"
                         data-speed="1500"
                         data-start="1500"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <a href="#join" class="theme-btn btn-style-four">Join Us</a>
                    </div>

                </li>


            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>

</section>
<section class="recent-causes-section dark-layout" id="join">
    <div class="outer-container">
        <div class="lined-title"><h2>Trusted Turkish Aid Organizations</h2>
            @* <h3>ss</h3>*@
        </div>

        <div class="row clearfix">

            <!--Default Cause Column-->
            <div class="default-cause-column col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="250ms">
                <div class="inner-box hvr-float">
                    <!--Image Box-->
                    <figure class="image-box"><img src="images/orgs/afad-web.jpg" alt=""><a href="#" class="overlay"></a><h3><a href="https://www.afad.gov.tr/" target="_blank">Republic Of Turkey Ministry Of Interior Disaster And Emergency Management Presidency (AFAD)</a></h3></figure>
                    <!--Lower Content-->
                    <div class="lower-content">
                        <!--Donation Scale-->

                        <div class="text-left post-style-one">
                            <!--Defult Text-->
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-info"></span>IBAN (USD)</li>
                                <li><span class="icon fa fa-bank"></span>TR460001001745555555555205<span class="icon fa fa-copy"></span></li>
                                <li><span class="icon fa fa-info"></span>IBAN (EUR)</li>
                                <li><span class="icon fa fa-bank"></span>TR190001001745555555555206<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>BTC - Bitcoin</li>
                                <li><span class="icon fa fa-bank"></span>bc1q30uv6s9gwyzq2fd5hhc06v7xge3zzg3qa99vuv0w5dfmxgq8vnws97dpcl<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>ETH - Etherium</li>
                                <li><span class="icon fa fa-bank"></span>0x1fc82b7a62c0414163A332693Ec66EC91f4cd1dE<span class="icon fa fa-copy"></span></li>
                            </ul>
                           <div class="text-center">
                                <!--Defult Text-->

                                <a href="https://yonetim.ziraatbank.com.tr/v4/DonationUI/Donation/DataSave/b950aafd-2ebc-4842-81bf-70619e32dc12?languageCode=en-US" target="_blank" class="theme-btn btn-style-two">Donate <span class="sep-icon"><i class="fa fa-angle-right"></i></span></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <!--Default Cause Column-->
            <div class="default-cause-column col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="250ms">
                <div class="inner-box hvr-float">
                    <!--Image Box-->
                    <figure class="image-box"><img src="images/orgs/ahbap-web.jpg" alt=""><a href="#" class="overlay"></a><h3><a href="https://ahbap.org/disasters-turkey" target="_blank">AHBAP Association</a></h3></figure>
                    <!--Lower Content-->
                    <div class="lower-content">
                        <!--Donation Scale-->

                        <div class="text-left post-style-one">
                            <!--Defult Text-->
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>IBAN (USD)</li>
                                <li><span class="icon fa fa-bank"></span>TR320006400000210212150262<span class="icon fa fa-copy"></span></li>
                                <li><span class="icon fa fa-bitcoin"></span>IBAN (EUR)</li>
                                <li><span class="icon fa fa-bank"></span>TR150006400000210212150277<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>BEP20</li>
                                <li><span class="icon fa fa-bank"></span>0xB67705398fEd380a1CE02e77095fed64f8aCe463<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>ERC20</li>
                                <li><span class="icon fa fa-bank"></span>0xe1935271D1993434A1a59fE08f24891Dc5F398Cd<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <div class="text-center">
                                <!--Defult Text-->

                                <a href="https://ahbap.org/bagisci-ol" target="_blank" class="theme-btn btn-style-two">Donate <span class="sep-icon"><i class="fa fa-angle-right"></i></span></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="default-cause-column col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="250ms">
                <div class="inner-box hvr-float">
                    <!--Image Box-->
                    <figure class="image-box"><img src="images/orgs/kizilay-web.jpg" alt=""><a href="#" class="overlay"></a><h3><a href="https://kizilay.org.tr/en" target="_blank">KIZILAY (Turkish Red Crescent)</a></h3></figure>
                    <!--Lower Content-->
                    <div class="lower-content">
                        <!--Donation Scale-->

                        <div class="text-left post-style-one">
                            <!--Defult Text-->
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>IBAN (USD)</li>
                                <li><span class="icon fa fa-bank"></span>TR320006400000210212150262<span class="icon fa fa-copy"></span></li>
                                <li><span class="icon fa fa-bitcoin"></span>IBAN (EUR)</li>
                                <li><span class="icon fa fa-bank"></span>TR150006400000210212150277<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>BTC - Bitcoin</li>
                                <li><span class="icon fa fa-bank"></span>bc1qe5vk78kmzq3v9xry3c9w7u09g0q9fvhsvuvsq5t6lvzfzatsdygs2whz3u<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>ETH - Ethereum - ERC20</li>
                                <li><span class="icon fa fa-bank"></span>0x1fc82b7a62c0414163A332693Ec66EC91f4cd1dE<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <div class="text-center">
                                <!--Defult Text-->

                                <a href="https://www.kizilay.org.tr/Bagis/BagisYap/405/donations-for-earthquake-in-pazarcik" target="_blank" class="theme-btn btn-style-two">Donate <span class="sep-icon"><i class="fa fa-angle-right"></i></span></a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="default-cause-column col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="250ms">
                <div class="inner-box hvr-float">
                    <!--Image Box-->
                    <figure class="image-box"><img src="images/orgs/akut-web.jpg" alt=""><a href="#" class="overlay"></a><h3><a href="https://akut.org.tr/en" target="_blank">AKUT - Search and Rescue Association</a></h3></figure>
                    <!--Lower Content-->
                    <div class="lower-content">
                        <!--Donation Scale-->

                        <div class="text-left post-style-one">
                            <!--Defult Text-->
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>IBAN (USD)</li>
                                <li><span class="icon fa fa-bank"></span>TR480006400000210806666660<span class="icon fa fa-copy"></span></li>
                                <li><span class="icon fa fa-bitcoin"></span>IBAN (EUR)</li>
                                <li><span class="icon fa fa-bank"></span>TR120006400000210806666144<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>BTC - Bitcoin</li>
                                <li><span class="icon fa fa-bank"></span>bc1qd7lw5ntzme45ej2y3wetr8zzaqpe68fj9t3trtpurwh9g3qrs0as4lw6lg<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-bitcoin"></span>ETH - Ethereum (ERC20)</li>
                                <li><span class="icon fa fa-bank"></span>0x3b816b03B9b6b46376D5423C62aFBb311ff9218F<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <div class="text-center">
                                <!--Defult Text-->

                                <a href="https://www.akut.org.tr/en/donation" target="_blank" class="theme-btn btn-style-two">Donate <span class="sep-icon"><i class="fa fa-angle-right"></i></span></a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="default-cause-column col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="250ms">
                <div class="inner-box hvr-float">
                    <!--Image Box-->
                    <figure class="image-box"><img src="images/orgs/ihh-big.jpg" alt=""><a href="#" class="overlay"></a><h3><a href="https://ihh.org.tr/en" target="_blank">IHH - Humanitarian Relief Foundation</a></h3></figure>
                    <!--Lower Content-->
                    <div class="lower-content">
                        <!--Donation Scale-->

                        <div class="text-left post-style-one">
                            <!--Defult Text-->
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-info"></span>IBAN (USD)</li>
                                <li><span class="icon fa fa-bank"></span>TR390001000488021249945008<span class="icon fa fa-copy"></span></li>
                                <li><span class="icon fa fa-info"></span>IBAN (EUR)</li>
                                <li><span class="icon fa fa-bank"></span>TR280001000488021249945012<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-info"></span>BTC - Bitcoin</li>
                                <li><span class="icon fa fa-bitcoin"></span>3HXauxSy2eacJx4uLAwfR4xQL6GwYDtTyC<span class="icon fa fa-copy"></span></li>
                            </ul>
                            <ul class="info border-bottom">
                                <li><span class="icon fa fa-info"></span>ETH - Ethereum (ERC20)</li>
                                <li><span class="icon fa add-fav"></span>0x2F6f879098A5F21F0ceE2527B852bB50bE07646A<span class="icon fa fa-copy"></span></li>
                            </ul>
                              <div class="text-center">
                                <!--Defult Text-->

                                <a href="https://ihh.org.tr/en/donate" target="_blank" class="theme-btn btn-style-two">Donate <span class="sep-icon"><i class="fa fa-angle-right"></i></span></a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        </div>


    </div>

</section>

@section scripts{
        <script>
            $(function(){
                $(".fa-copy").bind("click",function(){

                    navigator.clipboard.writeText($(this).parent().text());
                    alert('copied')
                })
            })
        </script>
}

