	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/07/2016 14:57
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-add:before { content: "\f100"; }
.flaticon-add-1:before { content: "\f101"; }
.flaticon-add-button:before { content: "\f102"; }
.flaticon-add-circular-button:before { content: "\f103"; }
.flaticon-alarm-clock:before { content: "\f104"; }
.flaticon-american-football-cup:before { content: "\f105"; }
.flaticon-apple-monitor:before { content: "\f106"; }
.flaticon-arrows:before { content: "\f107"; }
.flaticon-arrows-1:before { content: "\f108"; }
.flaticon-arrows-10:before { content: "\f109"; }
.flaticon-arrows-11:before { content: "\f10a"; }
.flaticon-arrows-12:before { content: "\f10b"; }
.flaticon-arrows-13:before { content: "\f10c"; }
.flaticon-arrows-14:before { content: "\f10d"; }
.flaticon-arrows-2:before { content: "\f10e"; }
.flaticon-arrows-3:before { content: "\f10f"; }
.flaticon-arrows-4:before { content: "\f110"; }
.flaticon-arrows-5:before { content: "\f111"; }
.flaticon-arrows-6:before { content: "\f112"; }
.flaticon-arrows-9:before { content: "\f113"; }
.flaticon-avatar:before { content: "\f114"; }
.flaticon-back:before { content: "\f115"; }
.flaticon-bag:before { content: "\f116"; }
.flaticon-building:before { content: "\f117"; }
.flaticon-business:before { content: "\f118"; }
.flaticon-calendar:before { content: "\f119"; }
.flaticon-cart:before { content: "\f11a"; }
.flaticon-cercis:before { content: "\f11b"; }
.flaticon-chat:before { content: "\f11c"; }
.flaticon-chat-1:before { content: "\f11d"; }
.flaticon-check:before { content: "\f11e"; }
.flaticon-check-1:before { content: "\f11f"; }
.flaticon-check-2:before { content: "\f120"; }
.flaticon-check-3:before { content: "\f121"; }
.flaticon-check-4:before { content: "\f122"; }
.flaticon-check-symbol:before { content: "\f123"; }
.flaticon-checked:before { content: "\f124"; }
.flaticon-chil-hand-on-the-hand-of-an-adult:before { content: "\f125"; }
.flaticon-circle:before { content: "\f126"; }
.flaticon-circle-1:before { content: "\f127"; }
.flaticon-circle-2:before { content: "\f128"; }
.flaticon-circle-3:before { content: "\f129"; }
.flaticon-circle-4:before { content: "\f12a"; }
.flaticon-circle-5:before { content: "\f12b"; }
.flaticon-circle-6:before { content: "\f12c"; }
.flaticon-circle-between-hands:before { content: "\f12d"; }
.flaticon-clipboard:before { content: "\f12e"; }
.flaticon-clipboard-paste-button:before { content: "\f12f"; }
.flaticon-clock:before { content: "\f130"; }
.flaticon-clock-1:before { content: "\f131"; }
.flaticon-clock-2:before { content: "\f132"; }
.flaticon-clock-3:before { content: "\f133"; }
.flaticon-clock-4:before { content: "\f134"; }
.flaticon-clock-5:before { content: "\f135"; }
.flaticon-close:before { content: "\f136"; }
.flaticon-close-1:before { content: "\f137"; }
.flaticon-close-2:before { content: "\f138"; }
.flaticon-cloud:before { content: "\f139"; }
.flaticon-cogwheel:before { content: "\f13a"; }
.flaticon-coin:before { content: "\f13b"; }
.flaticon-coin-1:before { content: "\f13c"; }
.flaticon-commerce:before { content: "\f13d"; }
.flaticon-computer:before { content: "\f13e"; }
.flaticon-computer-1:before { content: "\f13f"; }
.flaticon-connection:before { content: "\f140"; }
.flaticon-correct:before { content: "\f141"; }
.flaticon-cross:before { content: "\f142"; }
.flaticon-cross-1:before { content: "\f143"; }
.flaticon-cross-2:before { content: "\f144"; }
.flaticon-cup:before { content: "\f145"; }
.flaticon-cup-1:before { content: "\f146"; }
.flaticon-cup-2:before { content: "\f147"; }
.flaticon-delete:before { content: "\f148"; }
.flaticon-delete-1:before { content: "\f149"; }
.flaticon-dollar-coin-money:before { content: "\f14a"; }
.flaticon-dollar-symbol:before { content: "\f14b"; }
.flaticon-dollar-symbol-1:before { content: "\f14c"; }
.flaticon-drink:before { content: "\f14d"; }
.flaticon-drop:before { content: "\f14e"; }
.flaticon-e-mail-envelope:before { content: "\f14f"; }
.flaticon-earth-globe:before { content: "\f150"; }
.flaticon-earth-globe-1:before { content: "\f151"; }
.flaticon-emoticon:before { content: "\f152"; }
.flaticon-envelope:before { content: "\f153"; }
.flaticon-envelope-1:before { content: "\f154"; }
.flaticon-equalizer:before { content: "\f155"; }
.flaticon-equalizer-1:before { content: "\f156"; }
.flaticon-equalizer-2:before { content: "\f157"; }
.flaticon-favorite:before { content: "\f158"; }
.flaticon-fire:before { content: "\f159"; }
.flaticon-fit:before { content: "\f15a"; }
.flaticon-fitness-shoes:before { content: "\f15b"; }
.flaticon-food:before { content: "\f15c"; }
.flaticon-food-1:before { content: "\f15d"; }
.flaticon-garbage:before { content: "\f15e"; }
.flaticon-garbage-1:before { content: "\f15f"; }
.flaticon-garbage-2:before { content: "\f160"; }
.flaticon-gps:before { content: "\f161"; }
.flaticon-graphic:before { content: "\f162"; }
.flaticon-graphic-1:before { content: "\f163"; }
.flaticon-grid-world:before { content: "\f164"; }
.flaticon-happiness:before { content: "\f165"; }
.flaticon-happy:before { content: "\f166"; }
.flaticon-happy-1:before { content: "\f167"; }
.flaticon-headphones:before { content: "\f168"; }
.flaticon-heart:before { content: "\f169"; }
.flaticon-heart-1:before { content: "\f16a"; }
.flaticon-history-button:before { content: "\f16b"; }
.flaticon-home:before { content: "\f16c"; }
.flaticon-imac-desktop-computer-with-mouse:before { content: "\f16d"; }
.flaticon-interface:before { content: "\f16e"; }
.flaticon-interface-1:before { content: "\f16f"; }
.flaticon-interface-10:before { content: "\f170"; }
.flaticon-interface-11:before { content: "\f171"; }
.flaticon-interface-2:before { content: "\f172"; }
.flaticon-interface-3:before { content: "\f173"; }
.flaticon-interface-4:before { content: "\f174"; }
.flaticon-interface-5:before { content: "\f175"; }
.flaticon-interface-6:before { content: "\f176"; }
.flaticon-interface-7:before { content: "\f177"; }
.flaticon-interface-8:before { content: "\f178"; }
.flaticon-interface-9:before { content: "\f179"; }
.flaticon-internet:before { content: "\f17a"; }
.flaticon-letter:before { content: "\f17b"; }
.flaticon-letter-1:before { content: "\f17c"; }
.flaticon-levels-adjust:before { content: "\f17d"; }
.flaticon-levels-adjustment:before { content: "\f17e"; }
.flaticon-like:before { content: "\f17f"; }
.flaticon-line:before { content: "\f180"; }
.flaticon-line-1:before { content: "\f181"; }
.flaticon-line-2:before { content: "\f182"; }
.flaticon-line-3:before { content: "\f183"; }
.flaticon-location:before { content: "\f184"; }
.flaticon-lock:before { content: "\f185"; }
.flaticon-logo:before { content: "\f186"; }
.flaticon-long-arrow-pointing-to-left:before { content: "\f187"; }
.flaticon-mail:before { content: "\f188"; }
.flaticon-mail-1:before { content: "\f189"; }
.flaticon-map:before { content: "\f18a"; }
.flaticon-medical:before { content: "\f18b"; }
.flaticon-microphone:before { content: "\f18c"; }
.flaticon-mixer:before { content: "\f18d"; }
.flaticon-money-bag:before { content: "\f18e"; }
.flaticon-multimedia:before { content: "\f18f"; }
.flaticon-multimedia-1:before { content: "\f190"; }
.flaticon-multimedia-2:before { content: "\f191"; }
.flaticon-multimedia-3:before { content: "\f192"; }
.flaticon-multimedia-4:before { content: "\f193"; }
.flaticon-muted:before { content: "\f194"; }
.flaticon-nature:before { content: "\f195"; }
.flaticon-networking:before { content: "\f196"; }
.flaticon-note:before { content: "\f197"; }
.flaticon-notebook:before { content: "\f198"; }
.flaticon-online-shopping-cart:before { content: "\f199"; }
.flaticon-oscars:before { content: "\f19a"; }
.flaticon-parameters:before { content: "\f19b"; }
.flaticon-people:before { content: "\f19c"; }
.flaticon-phone:before { content: "\f19d"; }
.flaticon-placeholder:before { content: "\f19e"; }
.flaticon-placeholder-1:before { content: "\f19f"; }
.flaticon-placeholder-2:before { content: "\f1a0"; }
.flaticon-placeholder-3:before { content: "\f1a1"; }
.flaticon-play-button:before { content: "\f1a2"; }
.flaticon-play-button-1:before { content: "\f1a3"; }
.flaticon-play-button-2:before { content: "\f1a4"; }
.flaticon-plum:before { content: "\f1a5"; }
.flaticon-police-badge:before { content: "\f1a6"; }
.flaticon-positive-verified-symbol-of-a-clipboard:before { content: "\f1a7"; }
.flaticon-prize-badge-with-star-and-ribbon:before { content: "\f1a8"; }
.flaticon-programming:before { content: "\f1a9"; }
.flaticon-recycle-symbol-of-three-leaves:before { content: "\f1aa"; }
.flaticon-round:before { content: "\f1ab"; }
.flaticon-rounded-add-button:before { content: "\f1ac"; }
.flaticon-rubbish-bin:before { content: "\f1ad"; }
.flaticon-sad:before { content: "\f1ae"; }
.flaticon-sad-1:before { content: "\f1af"; }
.flaticon-sad-2:before { content: "\f1b0"; }
.flaticon-sad-face:before { content: "\f1b1"; }
.flaticon-search:before { content: "\f1b2"; }
.flaticon-security:before { content: "\f1b3"; }
.flaticon-settings:before { content: "\f1b4"; }
.flaticon-shape:before { content: "\f1b5"; }
.flaticon-shapes:before { content: "\f1b6"; }
.flaticon-shapes-1:before { content: "\f1b7"; }
.flaticon-shield:before { content: "\f1b8"; }
.flaticon-shield-1:before { content: "\f1b9"; }
.flaticon-shoe:before { content: "\f1ba"; }
.flaticon-shopping-bag:before { content: "\f1bb"; }
.flaticon-shopping-bag-1:before { content: "\f1bc"; }
.flaticon-shopping-cart:before { content: "\f1bd"; }
.flaticon-shopping-cart-1:before { content: "\f1be"; }
.flaticon-shopping-cart-2:before { content: "\f1bf"; }
.flaticon-sign:before { content: "\f1c0"; }
.flaticon-sign-in:before { content: "\f1c1"; }
.flaticon-smile:before { content: "\f1c2"; }
.flaticon-smiling-emoticon-square-face:before { content: "\f1c3"; }
.flaticon-sneaker-shoe-outline-of-fashion-walking-tool:before { content: "\f1c4"; }
.flaticon-social:before { content: "\f1c5"; }
.flaticon-softdrinks-beverage-can-container:before { content: "\f1c6"; }
.flaticon-speech-bubble:before { content: "\f1c7"; }
.flaticon-spin:before { content: "\f1c8"; }
.flaticon-squares:before { content: "\f1c9"; }
.flaticon-success:before { content: "\f1ca"; }
.flaticon-support:before { content: "\f1cb"; }
.flaticon-support-1:before { content: "\f1cc"; }
.flaticon-support-2:before { content: "\f1cd"; }
.flaticon-surprised:before { content: "\f1ce"; }
.flaticon-symbol:before { content: "\f1cf"; }
.flaticon-symbol-1:before { content: "\f1d0"; }
.flaticon-tag:before { content: "\f1d1"; }
.flaticon-technology:before { content: "\f1d2"; }
.flaticon-technology-1:before { content: "\f1d3"; }
.flaticon-technology-10:before { content: "\f1d4"; }
.flaticon-technology-11:before { content: "\f1d5"; }
.flaticon-technology-12:before { content: "\f1d6"; }
.flaticon-technology-2:before { content: "\f1d7"; }
.flaticon-technology-3:before { content: "\f1d8"; }
.flaticon-technology-4:before { content: "\f1d9"; }
.flaticon-technology-5:before { content: "\f1da"; }
.flaticon-technology-6:before { content: "\f1db"; }
.flaticon-technology-7:before { content: "\f1dc"; }
.flaticon-technology-8:before { content: "\f1dd"; }
.flaticon-technology-9:before { content: "\f1de"; }
.flaticon-telephone:before { content: "\f1df"; }
.flaticon-telephone-1:before { content: "\f1e0"; }
.flaticon-three:before { content: "\f1e1"; }
.flaticon-three-1:before { content: "\f1e2"; }
.flaticon-tick-inside-circle:before { content: "\f1e3"; }
.flaticon-time:before { content: "\f1e4"; }
.flaticon-tool:before { content: "\f1e5"; }
.flaticon-tool-1:before { content: "\f1e6"; }
.flaticon-tool-2:before { content: "\f1e7"; }
.flaticon-tool-3:before { content: "\f1e8"; }
.flaticon-tool-4:before { content: "\f1e9"; }
.flaticon-transport:before { content: "\f1ea"; }
.flaticon-transport-1:before { content: "\f1eb"; }
.flaticon-tree-leaf:before { content: "\f1ec"; }
.flaticon-trophy:before { content: "\f1ed"; }
.flaticon-trophy-1:before { content: "\f1ee"; }
.flaticon-trophy-2:before { content: "\f1ef"; }
.flaticon-truck:before { content: "\f1f0"; }
.flaticon-truck-1:before { content: "\f1f1"; }
.flaticon-up-arrow:before { content: "\f1f2"; }
.flaticon-upload:before { content: "\f1f3"; }
.flaticon-upload-1:before { content: "\f1f4"; }
.flaticon-user:before { content: "\f1f5"; }
.flaticon-video:before { content: "\f1f6"; }
.flaticon-video-1:before { content: "\f1f7"; }
.flaticon-volume-control:before { content: "\f1f8"; }
.flaticon-web:before { content: "\f1f9"; }
.flaticon-web-1:before { content: "\f1fa"; }
.flaticon-web-2:before { content: "\f1fb"; }
.flaticon-web-development:before { content: "\f1fc"; }
.flaticon-web-development-1:before { content: "\f1fd"; }